/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #FFFFFF;
  --vt-c-white-soft: #FAFAFA;
  --vt-c-white-mute: #F0F0F0;

  --vt-c-black: #000000;
  --vt-c-black-soft: #151515;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-gray-dark: #535353;
  --vt-c-gray-soft: #B5AFB2;

  --vt-c-blue-dark: #005F70;
  --vt-c-blue-bright: #00A8C3;
  --vt-c-blue-soft: #D4F9FF;

  --vt-c-red: #A30000;

  --vt-c-purple: #461088;

  --vt-c-green: #006103;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --vt-c-dark-border: var(var(--vt-c-black-soft));
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white-soft);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);
  --color-background-padding: var(--vt-c-blue-soft);
  --color-navbar-white: var(--vt-c-white-soft);
  --background-padding-height: 7vh;
  --gutter: 2rem;

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text-black: var(--vt-c-black);
  --color-text-off: var(--vt-c-gray-dark);
  --color-text-white: var(--vt-c-white);

  --color-error: var(--vt-c-red);
  --color-save: var(--vt-c-green);
  --color-edit: var(--vt-c-purple);

  --color-text-input-fg-default: var(--vt-c-gray-dark);
  --color-text-input-border: var(--vt-c-black-soft);
  --color-text-input-bg-default: var(--vt-c-white-soft);
  --color-text-input-bg-inactive: var(--vt-c-white-mute);
  --color-password-input-icon: var(--vt-c-gray-soft);
  
  --color-btn-blue-bg: var(--vt-c-blue-dark);
  --color-btn-white-bg: var(--vt-c-white);
  --color-text-blue: var(--vt-c-blue-dark);
  --color-border-blue: var(--vt-c-blue-dark);
  --color-hover-blue: var(--vt-c-blue-bright);
  
  --input-width-lg: 40rem;
  --input-width-md: 30rem;
  --input-width-sm: 20rem;
  --input-width-xs: 15rem;

  --input-height-lg: 40px;
  --input-height-md: 2.5em;
  --input-height-sm: 3em;
  --input-height-wide: 200px;
  --input-height-wide-sm: 30px;

  --color-btn-white-bg: var(--vt-c-white);

  --color-small-text: var(--vt-c-gray-dark);
  --color-border-default: var(--vt-c-black-soft);

  --section-gap: 160px;

  --font-family-small-text: 'Inter', sans-serif;
  --font-main-header-size: 1.5rem;
  --font-state-size: 1rem;
  --font-size-md: 1.25rem;
  --font-size-sm: 1.1rem;
  --font-size-xs: 0.875rem;

  --border-radius-default: 10px;
  --icon-size-default: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
